<a href="https://colab.research.google.com/github/VisageDvachevsky/Dano2024/blob/main/preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Traceback (most recent call last):
  File "/content/secnod_analysis.py", line 8, in <module>
    data = pd.read_excel(file_path)
  File "/usr/local/lib/python3.10/dist-packages/pandas/io/excel/_base.py", line 504, in read_excel
    io = ExcelFile(
  File "/usr/local/lib/python3.10/dist-packages/pandas/io/excel/_base.py", line 1563, in __init__
    ext = inspect_excel_format(
  File "/usr/local/lib/python3.10/dist-packages/pandas/io/excel/_base.py", line 1436, in inspect_excel_format
    with zipfile.ZipFile(stream) as zf:
  File "/usr/lib/python3.10/zipfile.py", line 1272, in __init__
    self._RealGetContents()
  File "/usr/lib/python3.10/zipfile.py", line 1339, in _RealGetContents
    raise BadZipFile("File is not a zip file")
zipfile.BadZipFile: File is not a zip file

In [ ]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.9/250.9 kB 2.1 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.impute import KNNImputer

In [ ]:
data = pd.read_excel('https://github.com/VisageDvachevsky/Dano2024/raw/refs/heads/main/hakaton_nn_1month.xlsx')

In [ ]:
data.head(10)

,offencedate,engine_power,auto_year,car_price,age,children_cnt,person_monthly_income_amt,public_holiday
count,97307,97301.000000,97306.0,90868.0,97298.0,85578.0,83832.0,97307.000000
mean,2024-05-15 07:55:55.232408576,161.533230,2013.258545,1615.31614,37.610177,0.158861,10543.4298,0.251010
min,2024-04-28 00:00:00,0.000000,1910.0,46.0,4.0,0.0,0.0,0.000000
25%,2024-05-08 00:00:00,107.000000,2009.0,628.0,30.0,0.0,70.0,0.000000
50%,2024-05-16 00:00:00,145.000000,2013.0,1105.0,37.0,0.0,115.0,0.000000
75%,2024-05-23 00:00:00,190.000000,2018.0,2045.0,44.0,0.0,200.0,1.000000
max,2024-05-27 00:00:00,1770.000000,2024.0,35470.0,88.0,9.0,869128596.0,1.000000
std,NaN,79.590623,6.135811,1674.055564,10.598194,0.532164,3001781.243553,0.433596

In [ ]:
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97307 entries, 0 to 97306
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   region                     97306 non-null  object
 1   offenceshortstatement      97306 non-null  object
 2   offencedate                97306 non-null  datetime64[ns]
 3   offencetime                97306 non-null  object
 4   engine_type                97306 non-null  object
 5   engine_power               97300 non-null  float64
 6   auto_mark                  97306 non-null  object
 7   auto_year                  97305 non-null  float64
 8   auto_model                 97306 non-null  object
 9   color                      97306 non-null  object
 10  gear_type                  97306 non-null  object
 11  car_price                  90868 non-null  object
 12  gender_cd                  97182 non-null  object
 13  age                        97298 non-null  float64
 14  marital_status_cd          75352 non-null  object
 15  children_cnt               85578 non-null  float64
 16  education_level_cd         68006 non-null  object
 17  person_monthly_income_amt  83832 non-null  float64
 18  day_of_week                97306 non-null  object
 19  public_holiday             97306 non-null  object
dtypes: datetime64[ns](1), float64(5), object(14)
memory usage: 14.8+ MB

In [ ]:
data.info()

region                           0
offenceshortstatement            0
offencedate                      0
offencetime                      0
engine_type                      0
engine_power                     6
auto_mark                        0
auto_year                        1
auto_model                       0
color                            0
gear_type                        0
car_price                     6439
gender_cd                      124
age                              9
marital_status_cd            21954
children_cnt                 11729
education_level_cd           29300
person_monthly_income_amt    13475
day_of_week                      0
public_holiday                   0
dtype: int64

In [ ]:
data.columns

Index(['party_rk', 'region', 'offenceshortstatement', 'offencedate',
       'offencetime', 'engine_type', 'engine_power', 'body_type', 'auto_mark',
       'auto_year', 'auto_model', 'color', 'gear_type', 'car_price',
       'gender_cd', 'age', 'marital_status_cd', 'children_cnt',
       'education_level_cd', 'person_monthly_income_amt', 'day_of_week',
       'public_holiday'],
      dtype='object')

In [ ]:
data.isnull().sum()

party_rk                         0
region                           0
offenceshortstatement            0
offencedate                      0
offencetime                      0
engine_type                      0
engine_power                     5
body_type                        0
auto_mark                        0
auto_year                        1
auto_model                       0
color                            0
gear_type                        0
car_price                     6438
gender_cd                      124
age                              9
marital_status_cd            21954
children_cnt                 11729
education_level_cd           29300
person_monthly_income_amt    13475
day_of_week                      0
public_holiday                   0
dtype: int64

In [ ]:
data.drop(['party_rk', 'body_type'], axis=1, inplace=True)

In [ ]:
data['engine_power'] = pd.to_numeric(data['engine_power'], errors='coerce')

In [ ]:
data['engine_power'].isnull().sum()

6

In [ ]:
data.engine_power.dropna()

0        152.0
1         73.0
2        145.0
3        150.0
4        155.0
         ...
97302    171.0
97303     98.0
97304    109.0
97305    151.0
97306     87.0
Name: engine_power, Length: 97301, dtype: float64

In [ ]:
data[data['car_price']==';M']=np.nan

In [ ]:
data.car_price.fillna(data.car_price.median())

0         712
1         162
2        2601
3         410
4         617
         ...
97302    2258
97303     318
97304     422
97305     552
97306     571
Name: car_price, Length: 97307, dtype: object

In [ ]:
data['public_holiday'] = pd.array(data['public_holiday'].map({'f': False, 't': True}))

In [ ]:
# M true, F false
data['gender_cd'] = data['gender_cd'].map({'M': True, 'F': False})

In [ ]:
data.isnull().sum()

region                           1
offenceshortstatement            1
offencedate                      1
offencetime                      1
engine_type                      1
engine_power                     7
auto_mark                        1
auto_year                        2
auto_model                       1
color                            1
gear_type                        1
car_price                     6439
gender_cd                    97307
age                              9
marital_status_cd            21955
children_cnt                 11729
education_level_cd           29301
person_monthly_income_amt    13475
day_of_week                      1
public_holiday               97307
dtype: int64

In [ ]:
data.to_csv('/data/dano.csv')

NameError: name 'data' is not defined

In [ ]:
import pandas as pd
from sklearn.impute import KNNImputer

cols_to_drop = data.select_dtypes(include=['datetime', 'object']).columns
df_without_strings_and_dates = data.drop(columns=cols_to_drop)

df_dummies = pd.get_dummies(df_without_strings_and_dates, drop_first=True)

imputer = KNNImputer(n_neighbors=5)

imputed_data = imputer.fit_transform(df_dummies)

df_imputed = pd.DataFrame(imputed_data, columns=df_dummies.columns)
print(df_imputed.head())

   engine_power  auto_year   age  children_cnt  person_monthly_income_amt
0         152.0     2011.0  23.0           0.0                       80.0
1          73.0     2011.0  19.0           0.0                       45.0
2         145.0     2018.0  43.0           0.0                      500.0
3         150.0     2007.0  27.0           0.0                       35.0
4         155.0     2004.0  42.0           0.0                       50.0

In [ ]:
data[data['car_price']==';M']=np.nan
data.car_price.fillna(data.car_price.median())
print(data['car_price'].head(10))

0     712
1     162
2    2601
3     410
4     617
5     NaN
6    2313
7    1649
8    2881
9    1817
Name: car_price, dtype: object

In [ ]:
data['gender_cd'] = data['gender_cd'].map({'M': True, 'F': False})
print(data['gender_cd'].head())

0     True
1     True
2     True
3     True
4    False
Name: gender_cd, dtype: object

In [ ]:
float_cols_to_int = ['auto_year', 'age', 'children_cnt', 'person_monthly_income_amt']
data[float_cols_to_int] = data[float_cols_to_int].astype(int)
data['car_price'] = pd.to_numeric(data['car_price'], errors='coerce').astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
data['offencedate'] = pd.to_datetime(data['offencedate'], errors='coerce')

data['offencetime'] = pd.to_datetime(data['offencetime'], format='%H:%M:%S', errors='coerce').dt.time

data['engine_power'] = pd.to_numeric(data['engine_power'], errors='coerce')

data['public_holiday'] = pd.array(data['public_holiday'].map({'f': False, 't': True}), dtype="boolean").astype('int')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')